<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Freddie the Fox's Programmer Club for Programming Foxes</title>
</head>
<body>
    <div>
        <ul>
            <li><a th:href="@{'/index.html'}">Information</a></li>
        </ul>
    </div>
    <div>
        <img src="img/greenfox.png">
    </div>
    <div th:object = "Fox">
        <span th:text="*{fox != null} ? 'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. They know ' + *{#lists.size(fox.tricks)} + ' tricks.' : 'You need to log in to see information about your fox.'"></span>
    </div>
    <div>
        <h1>
            <p th:text="'Known tricks'"></p>
        </h1>
        <ul>
            <li th:text="'write HTML'"></li>
            <li th:text="'code in Java'"></li>

        </ul>
    </div>
</body>
</html>