<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Useful page</title>
</head>
<body>
    <h1>Useful Stuff</h1>
    <div>
        <a href="/useful/colored">Random coloured page</a>
    </div>
    <div>
        <a href="/useful/email?email=is@this.valid">Validate email</a>
    </div>
    <div>
        <a href="/useful/encode">Encode a message using Caesar's encoding</a>
    </div>
    <div>
        <a href="/useful/decode?yourmessage">Decode a message using Caesar's encoding</a>
    </div>
</body>
</html>