<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba #</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <meta charset="utf-8" />
</head>
<body>
<h1>Account holders at the Bank of Simba</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>KING?</th>
                <th>Good/Bad</th>
                <th>BALANCE</th>
                <th>ANIMAL TYPE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}" th:object="${account}">
                <td th:text="${accountStat.count}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{isKing()}? 'Cool beans!' : 'No king :('"
                    th:style="*{isKing()}? 'background-color: yellow; color: black' : 'background-color: blue; color: yellow'"></td>
                <td th:text="*{isGoodGuy()}? 'Good one' : 'Bad guy'"></td>
                <td th:text="*{balance}"></td>
                <td th:text="*{animalType}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>