<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo CRUD App</title>
</head>
<body>
<div>
    <h1>
        <p th:text="'TODOS for today:'"></p>
    </h1>
        <div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ACTION</th>
                    <th>DONE?</th>
                    <th>URGENT?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}" th:object="${todo}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{isDone()}? 'Yes' : 'No'"
                        th:style="*{isDone()}? 'background-color: lime; color:blue' : 'background-color: red'"></td>
                    <td th:text="*{isUrgent()}? 'Yes' : 'No'"
                        th:style="*{isUrgent()}? 'background-color: lime; color:blue' : 'background-color: red'"></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>